@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application is strictly for internal use</p>
<p>The security is controlled by [Active Directory]</p>
<p>Access to each module is assigned to certain AD groups</p>
<p>Important activities will be recorded for audit</p>
