@model mcpdipData.PcpAssignment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Edit</h1>

    <h4>PcpAssignment</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PcpAssignmentId" />
                <div class="form-group">
                    <label asp-for="PcpHeaderId" class="control-label"></label>
                    <input asp-for="PcpHeaderId" class="form-control" />
                    <span asp-validation-for="PcpHeaderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlanCode" class="control-label"></label>
                    <input asp-for="PlanCode" class="form-control" />
                    <span asp-validation-for="PlanCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cin" class="control-label"></label>
                    <input asp-for="Cin" class="form-control" />
                    <span asp-validation-for="Cin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Npi" class="control-label"></label>
                    <input asp-for="Npi" class="form-control" />
                    <span asp-validation-for="Npi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TradingPartnerCode" class="control-label"></label>
                    <input asp-for="TradingPartnerCode" class="form-control" />
                    <span asp-validation-for="TradingPartnerCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataSource" class="control-label"></label>
                    <input asp-for="DataSource" class="form-control" />
                    <span asp-validation-for="DataSource" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

